body {
    background: url(../img/wg_blurred_backgrounds_18.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    background-size:cover; 

}

h1,
h2,
h3,
span {
    color: #fff;
    text-shadow:2px 2px 5px rgba(0, 0, 0, .2);
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

span:first-of-type {
    margin-left: 50px;
}


.bg0, 
.bg1, 
.bg2 {
    background: url(../img/wg_blurred_backgrounds_2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    background-size:cover;
}

.bg3, 
.bg4, 
.bg37, 
.bg38, 
.bg39, 
.bg45, 
.bg47,
.bg5, 
.bg6, 
.bg7, 
.bg8, 
.bg10, 
.bg17, 
.bg18, 
.bg35,
.bg27, 
.bg29,
.bg31, 
.bg33  {
    background: url(../img/wg_blurred_backgrounds_8.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    background-size:cover;
}

.bg9, 
.bg11, 
.bg12, 
.bg40,
.bg13, 
.bg14, 
.bg15, 
.bg16, 
.bg25, 
.bg41, 
.bg42, 
.bg43, 
.bg46 {
    background: url(../img/wg_blurred_backgrounds_11.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    background-size:cover;
}

.bg19 {
    background: url(../img/wg_blurred_backgrounds_10.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    background-size:cover;
}

.bg20, 
.bg21, 
.bg22, 
.bg23, 
.bg24,
.bg26, 
.bg28, 
.bg30,
.bg44 {
    background: url(../img/blurred_bg_1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    background-size:cover;
}

.bg32, 
.bg34, 
.bg36 {
    background: url(../img/wg_blurred_backgrounds_4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    background-size:cover;
}

.bg3200 {
    background: url(../img/wg_blurred_backgrounds_18.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    background-size:cover;
}